:root {
  --primary: #383e56;
  --body-background: white;
  --navtext: white;
  --accent: #ff7f50;
}

body {
  background-color: var(--body-background);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 300%;
  color: var(--primary);
}

h2 {
  font-size: 200%;
  margin-bottom: 10px;
}

h3 {
  font-size: 150%;
}

p {
  line-height: 1.2;
  padding-bottom: 10px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  height: 50px;
  color: var(--navtext);
}

header img {
  height: 40px;
  width: auto;
  vertical-align: center;
}

header .title-text {
  display: inline;
  vertical-align: center;
  font-size: 1.25em;
  color: #c7cfb7;
}

.title-text {
  font-family: Pacifico, cursive;
}

nav {
  text-align: right;
}

nav a {
  color: var(--navtext);
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  color: var(--accent);
}

.atf {
  height: 300px;
}

.atf img {
  margin: 0 auto;
}

main {
  padding: 5px;
}

main section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

main section .section-title {
  min-width: 320px;
  border-right: 4px solid var(--primary);
  padding: 0 50px 0 15px;
}

main section div {
  flex: 4;
  padding: 0 0 0 25px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
  min-width: 320px;
}

.grid-card {
  background-color: var(--primary);
}

.grid-card:hover {
  border: 5px solid var(--accent);
}

.main-card {
  grid-column: 1 / 3;
}

.grid-card div {
  background-color: var(--primary);
  color: var(--navtext);
  display: inline-block;
  padding: 5px;
}

#project-1 {
  background-image: url("../images/code-screen.jpg");
  background-size: cover;
}

#project-2 {
  background-image: url("../images/to-do-list.jpg");
  background-size: cover;
}

#project-3 {
  background-image: url("../images/weather-app.jpg");
  background-size: cover;
}

#project-4 {
  background-image: url("../images/blog.jpg");
  background-size: cover;
}

#project-5 {
  background-image: url("../images/holiday-db.jpg");
  background-size: cover;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  height: 100px;
  color: var(--navtext);
}

@media screen and (max-width: 768px) {
  header {
    display: block;
    height: 120px;
  }

  header nav {
    margin-left: 45px;
  }

  nav {
    padding: 5px 0;
    text-align: left;
  }

  nav a {
    display: block;
    padding: 2px 0;
  }

  header nav,
  main section div,
  footer nav {
    flex: 100%;
  }

  main section .section-title {
    border-right: none;
    padding: 0;
  }

  main section div {
    padding: 0;
  }

  footer {
    height: 150px;
  }
}
